{% load static i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <title>Posts</title>
</head>

<body>
    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <strong>{% trans 'Posts - Watt Panel Blog' %}</strong>
                </a>
            </div>
        </div>
    </header>

    <main role="main" class="container">
        <div class="mt-5">
            <h2>{% trans 'Authors Table' %}</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{% trans 'Author'%}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for author in authors %}
                        <tr>
                            <td>{{ author.name }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="3">{% trans 'No Authors yet. Please, follow the commands indicated in step 3 of the README'%}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mt-3">
            <h2>{% trans 'Posts Table' %}</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{% trans 'Author'%}</th>
                            <th>{% trans 'Title'%}</th>
                            <th>{% trans 'Published date'%}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in object_list %}
                        <tr>
                            <td>{{ post.author }}</td>
                            <td><a href="{{ post.link }}" target="blank">{{ post.title }}</a></td>
                            <td>{{ post.published_date|date }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="3">{% trans 'No posts yet. Please, follow the commands indicated in step 3 of the README'%}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</body>

</html>
